<!DOCTYPE html>
<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <title>
	Twittube
    </title>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="">
  <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Twittube</a>
        </div>
      </div>
  </div>
  <div class="container">
    <div class="jumbotron">
        <h3>Create Your Conversation</h3>
       <div class="row">
         <form class="navbar-form navbar-left" action='/handlefile/' method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         	<div class="form-group">
  	  		<input type="file" class="form-control" name="file" /><br/>
  	  		</div>
	  		<input type="submit" class="btn btn-default" value="Upload">
    	 </form>
       </div>
   </div>
    {% for s in all_s %}
 			<div class="col-md-4">
   				<div class="thumbnail">
   			  		<div class="caption">
   			 	  		<p><a href="/{{s.id}}/" class="btn btn-primary" role="button">Full Conversation </a> </p>
   			   		</div>
    				<video name='demo' controls width='330px' height='270px'>
					<source src="http://d2crtr3mlev64q.cloudfront.net/{{s.filename}}" type="video/mp4"></source>
					</video>
				</div>
			</div> 	
    {% endfor %} 
  </div>
</body></html>
